<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Seu Site</title>
</head>
<body>
    <div id="root" class="main">

        <section class="grid_box inicio">
            <div class="option_inicio">
                <a href="">
                    <i class="bi bi-house"></i>
                    <p>Início</p>
                </a>
            </div>
            <div class="option_procurar">
                <a href="">
                    <i class="bi bi-search"></i>
                    <p>Procurar</p>
                </a>
            </div>
        </section>

        <section class="grid_box cards">
            <div>

            </div>
        </section>

        <section class="grid_box playlist">
            <div class="title_playlist">
                <div class="first_icons">
                    <a href="">
                        <i class="bi bi-collection-fill"></i>
                        <p>A tua Biblioteca</p>
                    </a>
                </div>
                <div class="second_icons">
                    <a href=""><i class="bi bi-plus"></i></a>
                    <a href=""><i class="bi bi-arrow-right-short"></i></a>
                </div>
            </div>

            <div class="tags">
                <div class="frame">
                    <div class="tags_box fade-on-hover">
                        <button class="fade-overflow" role="checkbox" aria-checked="false" tabindex="-1" style="will-change: transform, opacity;"><span>Playlists</span></button>
                    </div>
                    <div class="tags_box fade-on-hover">
                        <button class="fade-overflow" role="checkbox" aria-checked="false" tabindex="-1" style="will-change: transform, opacity;"><span>Artistas</span></button>
                    </div>
                    <div class="tags_box fade-on-hover">
                        <button class="fade-overflow" role="checkbox" aria-checked="false" tabindex="-1" style="will-change: transform, opacity;"><span>Álbuns</span></button>
                    </div>
                    <div class="tags_box fade-on-hover">
                        <button class="fade-overflow" role="checkbox" aria-checked="false" tabindex="-1" style="will-change: transform, opacity;"><span>Podcasts e Programas</span></button>
                    </div>
                    <div class="scroll_arrow left">
                        <i class="bi bi-arrow-left"></i>
                    </div>
                    <div class="scroll_arrow right">
                        <i class="bi bi-arrow-right"></i>
                    </div>
                    <!--
                    <div class="scroll_bar"></div>
                    -->
                </div>
            </div>
        </section>

    </div>

    <footer class="footer">
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </footer>

    <script src="../react_app/src/index.js"></script> <!-- Arquivo JavaScript do React -->
</body>
</html>
