<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/home.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.min.css') }}">
    <title>Seu Site</title>
</head>
<body>
    <div class="main">
        <section class="grid_box">
            <div>aa</div>
        </section>
        <section class="grid_box">
            <div>ss</div>
        </section>
        <section class="grid_box">
            <div>dd</div>
        </section>
        <footer class="grid_box">
            <div>ee</div>
        </footer>
    </div>
</body>
</html>
