<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/home.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.min.css') }}">
    <title>Seu Site</title>
</head>
<body>
    <div class="main">
        <section class="grid_box inicio">
            <div class="option_inicio">
                <i class="bi bi-house"></i>
                <a>Início</a>
            </div>
            <div class="option_procurar">
                <i class="bi bi-search"></i>
                <a>Procurar</a>
            </div>
        </section>
        <section class="grid_box cards">
            <div>

            </div>
        </section>
        <section class="grid_box playlist">
            <div class="title_playlist">
                <div class="first_icons">
                    <i class="bi bi-collection-fill"></i>
                    <a>A tua biblioteca</a>
                </div>
                <div class="second_icons">
                    <i class="bi bi-plus"></i>
                    <i class="bi bi-arrow-right-short"></i>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer">
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </footer>
</body>
</html>
